{% extends "base.html" %} {% load static %} {% block metadescription%} {% endblock %} {% block title %} Contact Us - algoeason {% endblock %} {% block content%}

<div class="jumbotron jumbotron-fluid bg_color_primary mb-0 align_center" style="height: 100vh;">
    <div class="container-fluid">
        <p class="heading_text">Contact Details</p>

        <div class="contact-us-box-container-back-side" style="color: white;">
            <div class="contact-us-company-name">AlgoSeason</div>
            <div style="font-size:14px;bottom: 1px; position: absolute; left:0;right: 0;">CEO: Kamal Sharma</div>

        </div>


        <div class="contact_us_box_container">
            <div class="inner_contact_us_box_container color_primary_default_text align_center">
                <ul style="list-style-type:none; text-align: left; display: inline-block; padding: 10px; font-weight: bold;">
                    <li><span style="color: #00caca;"><i class="fas fa-phone-alt"></i></span> +91-8107915908</li>
                    <li><span style="color: #00caca;"><i class="fas fa-at"></i></span> info@algoseason.com </li>
                    <li><span style="color: #00caca;"><i class="fas fa-map-marker-alt"></i></span> 19-B Pushp Nagar, Shrimadhopur, India</li>

                </ul>
            </div>
        </div>


    </div>
</div>
{% endblock %}